body {
  background-color: #000;
}

.orion {
  background-image: url('assets/orion.jpg');
}

.bespoke-inactive {
  transition: none;
}

.bespoke-backdrop {
  transition: opacity 1s ease, transform 1s ease, filter 1s ease;
  transform: translateZ(0) scale(1.3);
}

.bespoke-backdrop-active {
  transform: translateZ(0) scale(1);
  filter: grayscale(0%);
}

.bespoke-backdrop-inactive {
  filter: grayscale(100%);
}
